#section-update{
    width: 100%;
    height: auto;
    margin-top: 116px;
    background-color: #f8fafc;
}
.container-update{
    margin: 0;
    padding: 0;
    height: auto;
}
.container-update h1{
    padding-top: 5%;
    text-align: center;
}
.div-form-update{
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
    padding-bottom: 5%;
}


/* FORMULAIRE */
.form-label{
    font-size: 20px;
    letter-spacing: 0;

    line-height: 32px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.form-label::after {
    background: #2c6db8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.form-control{
    height: 50px;
}
.form-select{
    height: 50px;
}
.btn-common{
    height: 50px;
}

